body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-279px;
  width:356px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:251px;
}
#u11 {
  position:absolute;
  left:311px;
  top:138px;
  width:300px;
  height:240px;
}
#u12 {
  position:absolute;
  left:2px;
  top:112px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:486px;
}
#u13 {
  position:absolute;
  left:279px;
  top:43px;
  width:356px;
  height:485px;
}
#u14 {
  position:absolute;
  left:2px;
  top:234px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u15 {
  position:absolute;
  left:304px;
  top:138px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:35px;
}
#u17 {
  position:absolute;
  left:385px;
  top:138px;
  width:65px;
  height:34px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:53px;
}
#u19 {
  position:absolute;
  left:279px;
  top:43px;
  width:356px;
  height:52px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u20 {
  position:absolute;
  left:2px;
  top:16px;
  width:352px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:49px;
}
#u21 {
  position:absolute;
  left:311px;
  top:138px;
  width:300px;
  height:48px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u21_img.mouseDown {
}
#u21.mouseDown {
}
#u22 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
}
#u23 {
  position:absolute;
  left:322px;
  top:148px;
  width:32px;
  height:28px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u25 {
  position:absolute;
  left:364px;
  top:156px;
  width:29px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:49px;
}
#u27 {
  position:absolute;
  left:311px;
  top:186px;
  width:300px;
  height:48px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u27_img.mouseDown {
}
#u27.mouseDown {
}
#u28 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
}
#u29 {
  position:absolute;
  left:322px;
  top:194px;
  width:32px;
  height:28px;
}
#u30 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u31 {
  position:absolute;
  left:364px;
  top:202px;
  width:29px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:49px;
}
#u33 {
  position:absolute;
  left:311px;
  top:234px;
  width:300px;
  height:48px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u33_img.mouseDown {
}
#u33.mouseDown {
}
#u34 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
}
#u35 {
  position:absolute;
  left:322px;
  top:244px;
  width:32px;
  height:28px;
}
#u36 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u37 {
  position:absolute;
  left:364px;
  top:252px;
  width:29px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:49px;
}
#u39 {
  position:absolute;
  left:311px;
  top:282px;
  width:300px;
  height:48px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u39_img.mouseDown {
}
#u39.mouseDown {
}
#u40 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
}
#u41 {
  position:absolute;
  left:322px;
  top:292px;
  width:32px;
  height:28px;
}
#u42 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u43 {
  position:absolute;
  left:364px;
  top:296px;
  width:49px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:49px;
}
#u45 {
  position:absolute;
  left:311px;
  top:330px;
  width:300px;
  height:48px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u45_img.mouseDown {
}
#u45.mouseDown {
}
#u46 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
}
#u47 {
  position:absolute;
  left:322px;
  top:340px;
  width:32px;
  height:28px;
}
#u48 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u49 {
  position:absolute;
  left:364px;
  top:348px;
  width:49px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
